.header {
  position: sticky;
  top: 0;
  padding: 20px 60px;
  border-bottom: 1px solid var(--grey);
  background-color: white;
}

.navigation {
  font-size: 24px;
  font-weight: 600;
}

.navigation > a {
  transition: color 250ms ease-in-out;
}

.navigation > a:first-child {
  margin-right: 40px;
}

.navigation > a:hover {
  color: var(--accent-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
}

.active {
  color: var(--main-color);
}

.loaderWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
